button.normal{
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    background-color: blue;
    border-radius: 5px;
}
.form{
    padding: 20px;
    border: 1px solid #e1e1e1;
    width: 400px;
}
.form h4{
    color: #000;
    font-size: 25px;
    margin: 10px 0;
}
.form input{
     width: 100%;
     padding: 10px 0;
     font-size: 18px;
     margin-bottom: 10px;
     text-align: right 10px;
}
